:host {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: inherit;
  color: var(--text);
}

.otitle__txt {
  display: flex;
  min-inline-size: 0;
  flex-direction: column;
}

.otitle__title {
  margin: 0;
  overflow: hidden;
  line-height: inherit;
  font-size: 20px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.otitle__sub {
  overflow: hidden;
  font-size: 14px;
  color: var(--text-var);
  text-overflow: ellipsis;
  white-space: nowrap;
}
