@if (asModal() && modal()) {
  <button
    class="sheet__scrim tap"
    type="button"
    data-press="tint"
    [attr.aria-label]="'common.close' | t"
    (pointerdown)="onScrimDown($event)"
    (pointerup)="onScrimUp($event)"
    (click)="onScrimClick()"
  ></button>
}
<section
  class="sheet"
  role="dialog"
  tabindex="-1"
  [class.sheet--dragging]="dragging()"
  [class.sheet--modal]="asModal()"
  [class.sheet--bare]="asModal() && title() === ''"
  [class.sheet--compact]="compact()"
  [attr.aria-label]="label()"
  [attr.aria-modal]="modal() || asModal() ? 'true' : null"
  [style.block-size]="height()"
  (keydown)="onKey($event)"
>
  @if (closable()) {
    <button
      class="sheet__close tap"
      type="button"
      data-press="scale"
      [attr.aria-label]="'common.close' | t"
      (click)="closed.emit()"
    >
      <app-svg-icon name="close" [size]="22" [strokeWidth]="2" />
    </button>
  }
  <div
    class="sheet__drag"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp($event)"
    (pointercancel)="onPointerUp($event)"
  >
    <button
      class="sheet__handle tap"
      type="button"
      data-press="scale"
      [attr.aria-label]="'sheet.handle' | t"
      (click)="nextDetent()"
      (keydown)="onHandleKey($event)"
    >
      <span class="sheet__handle-line"></span>
    </button>
    @if (title() !== '') {
      <header class="sheet__head" [class.sheet__head--divider]="headDivider()">
        <div class="sheet__head-title">
          <ng-content select="[titleLead]" />
          <h2 class="sheet__title">{{ title() }}</h2>
        </div>
        @if (note() !== '') {
          <span class="sheet__note">{{ note() }}</span>
        }
        <ng-content select="[headAction]" />
      </header>
    }
    <ng-content select="[head]" />
  </div>
  <div class="sheet__content">
    <ng-content />
  </div>
  <ng-content select="[foot]" />
</section>
