@if (asModal() && modal()) {
  <button
    class="sheet__scrim"
    type="button"
    tabindex="-1"
    [attr.aria-label]="'common.close' | t"
    (pointerdown)="onScrimDown($event)"
    (pointerup)="onScrimUp($event)"
    (click)="onScrimClick()"
  ></button>
}
<section
  class="sheet"
  role="dialog"
  tabindex="-1"
  [class.sheet--dragging]="dragging()"
  [class.sheet--modal]="asModal()"
  [class.sheet--compact]="compact()"
  [class.sheet--acts]="hasActions()"
  [attr.aria-label]="label()"
  [attr.aria-modal]="modal() || asModal() ? 'true' : null"
  [style.block-size]="height()"
  (keydown)="onKey($event)"
>
  <div
    class="sheet__drag"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp($event)"
    (pointercancel)="onPointerUp($event)"
  >
    <button
      class="sheet__handle"
      type="button"
      appRipple
      [attr.aria-label]="'sheet.handle' | t"
      (click)="nextDetent()"
      (keydown)="onHandleKey($event)"
    >
      <span class="sheet__handle-line"></span>
    </button>
    @if (hasHead()) {
      <app-overlay-head
        class="sheet__head"
        [class.sheet__head--divider]="headDivider()"
        [title]="title()"
        [note]="note()"
        [back]="back()"
        [close]="closable()"
        (backClick)="backClick.emit()"
        (closeClick)="closed.emit()"
      >
        <ng-content select="[titleLead]" ngProjectAs="[titleLead]" />
        <ng-content select="[headAction]" ngProjectAs="[headAction]" />
      </app-overlay-head>
    }
    <ng-content select="[head]" />
  </div>
  <div class="sheet__content">
    <ng-content />
  </div>
  <ng-content select="[foot]" />
</section>
