<section
  class="sheet"
  role="dialog"
  [class.sheet--dragging]="dragging()"
  [attr.aria-label]="label()"
  [attr.aria-modal]="modal() ? 'true' : null"
  [style.block-size]="height()"
  (keydown)="onKey($event)"
>
  <div
    class="sheet__drag"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp($event)"
    (pointercancel)="onPointerUp($event)"
  >
    <button
      class="sheet__handle tap"
      type="button"
      data-press="scale"
      [attr.aria-label]="'sheet.handle' | t"
      (click)="nextDetent()"
      (keydown)="onHandleKey($event)"
    >
      <span class="sheet__handle-line"></span>
    </button>
    <ng-content select="[head]" />
  </div>
  <div class="sheet__content">
    <ng-content />
  </div>
</section>
