<app-overlay-host [open]="open()" [modal]="true" (closed)="closed.emit()">
  <app-sheet
    class="filtersheet"
    [label]="title()"
    [title]="title()"
    [back]="back()"
    [closable]="!back()"
    [modal]="true"
    [dismissible]="true"
    (backClick)="backClick.emit()"
    (closed)="closed.emit()"
  >
    <div #content class="filtersheet__content" appScrollFade><ng-content /></div>
    @if (primaryLabel(); as label) {
      <app-action-bar
        foot
        [primary]="label"
        [secondary]="showsReset() ? ('common.reset' | t) : undefined"
        (primaryClick)="primaryClick.emit()"
        (secondaryClick)="resetClick.emit()"
      />
    }
  </app-sheet>
</app-overlay-host>
