@if (icon(); as glyph) {
  <app-svg-icon class="factor__icon" [name]="glyph" [size]="22" [strokeWidth]="1.8" />
}
<span class="factor__stack">
  <span class="factor__name">{{ factor().name }}</span>
  @if (factor().range) {
    <span class="factor__sub">{{ factor().range }}</span>
  }
</span>
<button class="factor__condition tap" type="button" data-press="scale" (click)="conditionClick.emit()">
  {{ factor().condition }}
</button>
<app-icon-button icon="close" [label]="removeLabel()" (pressed)="remove.emit()" />
