@if (icon(); as glyph) {
  <span class="factor__icon">
    <app-svg-icon [name]="glyph" [size]="24" [strokeWidth]="1.8" />
  </span>
}
<span class="factor__stack">
  <span class="factor__name">{{ factor().name }}</span>
  @if (factor().range) {
    <span class="factor__sub">{{ factor().range }}</span>
  }
</span>
<button
  class="factor__condition tap"
  type="button"
  appRipple
  data-press="scale"
  (click)="conditionClick.emit()"
>
  {{ factor().condition }}
</button>
<app-icon-button icon="close" kind="plain" [label]="removeLabel()" (pressed)="remove.emit()" />
