<app-page-header [title]="'species.section.compare' | t" [back]="true" (backClick)="back()">
  @if (wide() && paired()) {
    <span class="compare__count">{{ 'species.compare.count' | t }}</span>
  }
</app-page-header>
<div class="compare">
  @if (species().length > 0) {
    <div class="compare__card">
      <app-key-value-table class="compare__table" [columns]="species().length">
        <app-key-value-row key="" [values]="names()" [head]="true" />
        <app-key-value-row [key]="'species.field.edibility' | t" [cells]="levels()">
          <ng-template let-level>
            <app-level-pill [text]="level.text" [colour]="level.colour" [background]="level.background" />
          </ng-template>
        </app-key-value-row>
        @if (filled(widths())) {
          <app-key-value-row [key]="'species.compare.capWidth' | t" [cells]="widths()">
            <ng-template let-size>
              @if (size) {
                <span class="compare__measure"
                  >{{ size.value }} <em>{{ size.unit }}</em></span
                >
              }
            </ng-template>
          </app-key-value-row>
        }
        @for (row of colourRows(); track row.key) {
          <app-key-value-row [key]="row.key" [cells]="row.cells">
            <ng-template let-swatch>
              @if (swatch) {
                <app-colour-field [colours]="swatch.colours" [mode]="swatch.mode" [label]="swatch.label" />
              }
            </ng-template>
          </app-key-value-row>
        }
        @if (filled(pressures())) {
          <app-key-value-row [key]="'species.compare.pressure' | t" [cells]="pressures()">
            <ng-template let-test>
              @if (test) {
                <span class="compare__change">
                  <span class="compare__colours">
                    @if (test.from) {
                      <app-colour-field
                        class="compare__from"
                        [colours]="test.from.colours"
                        [mode]="test.from.mode"
                        [label]="test.from.label"
                      />
                    }
                    @if (test.to) {
                      <app-svg-icon
                        class="compare__arrow"
                        name="forward"
                        [size]="12"
                        [label]="arrowLabel()"
                      />
                      <app-colour-field
                        class="compare__to"
                        [colours]="test.to.colours"
                        [mode]="test.to.mode"
                        [label]="test.to.label"
                      />
                    }
                  </span>
                  <span class="compare__speed">{{ test.speed }}</span>
                </span>
              }
            </ng-template>
          </app-key-value-row>
        }
        @if (filled(stemNets())) {
          <app-key-value-row [key]="'species.compare.stemNet' | t" [cells]="stemNets()">
            <ng-template let-text>
              @if (text) {
                <span class="compare__text">{{ text }}</span>
              }
            </ng-template>
          </app-key-value-row>
        }
        @if (filled(flavours())) {
          <app-key-value-row [key]="'species.field.taste' | t" [cells]="flavours()">
            <ng-template let-tags>
              @if (tags) {
                <app-tag-list class="compare__tags" [tags]="tags" [label]="flavourLabel()" />
              }
            </ng-template>
          </app-key-value-row>
        }
        @if (filled(periods())) {
          <app-key-value-row [key]="'species.field.time' | t" [cells]="periods()">
            <ng-template let-time>
              @if (time) {
                <app-year-band
                  class="compare__band"
                  [fromMonth]="time.from"
                  [toMonth]="time.to"
                  [label]="bandLabel()"
                />
              }
            </ng-template>
          </app-key-value-row>
        }
      </app-key-value-table>
    </div>
  }
</div>
