:host {
  --action-bar-height: var(--size-tap);
  --action-bar-size: var(--fs-control);

  display: flex;
  flex-direction: column;
  block-size: 100%;
  overflow: hidden;
}

.view {
  flex: 1;
  min-block-size: 0;
  overflow-y: auto;
}
