<span class="kv__label" [class.kv__label--head]="head()">
  @if (route(); as target) {
    <a class="kv__key kv__key--link" [routerLink]="target">{{ key() }}</a>
  } @else {
    <span class="kv__key">{{ key() }}</span>
  }
  @if (hint(); as text) {
    <span class="kv__hint">{{ text }}</span>
  }
</span>
@if (cells(); as columns) {
  @for (column of columns; track $index) {
    <span class="kv__value kv__value--column">
      @if (slot(); as template) {
        <ng-container [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{ $implicit: column }" />
      }
    </span>
  }
} @else if (values(); as columns) {
  @for (column of columns; track $index) {
    <span class="kv__value kv__value--column" [class.kv__value--head]="head()">{{ column }}</span>
  }
} @else {
  <span class="kv__value" [class.kv__value--flow]="flow()">
    @if (value()) {
      {{ value() }}
    }
    <ng-content />
  </span>
}
