<app-page-header [title]="'glossary.title' | t" [back]="!wide()" [wide]="wide()" (backClick)="back()" />

<div class="adminGlossary">
  <app-search-field
    [value]="search()"
    [placeholder]="'glossary.search' | t"
    (valueChange)="onSearch($event)"
  />
  @if (loaded()) {
    <div class="adminGlossary__list">
      <app-add-row [label]="'glossary.add' | t" [action]="'glossary.create' | t" (pressed)="add()" />
      <app-row-group>
        @for (entry of entries(); track entry.id) {
          <app-list-row
            [title]="entry.term"
            [subline]="entry.definition"
            [wrap]="true"
            [clickable]="true"
            [chevron]="true"
            (chosen)="edit(entry.id)"
          />
        }
      </app-row-group>
    </div>
  } @else {
    <app-row-group-skeleton [count]="5" [lines]="3" trail="chevron" />
  }
</div>

@if (editing()) {
  <app-form-sheet
    [title]="sheetTitle()"
    [submit]="'common.save' | t"
    [secondary]="'common.delete' | t"
    [secondaryDanger]="true"
    [busy]="saving()"
    (submitted)="save()"
    (secondaryPressed)="remove()"
    (cancelled)="close()"
  >
    <div class="adminGlossary__field">
      <span class="lbl">{{ 'glossary.term' | t }}</span>
      <app-form-field
        [label]="'glossary.term' | t"
        [hideLabel]="true"
        [value]="term()"
        (valueChange)="term.set($event)"
      />
    </div>
    <div class="adminGlossary__field">
      <span class="lbl">{{ 'glossary.definition' | t }}</span>
      <app-form-field
        [label]="'glossary.definition' | t"
        [hideLabel]="true"
        [multiline]="true"
        [value]="definition()"
        (valueChange)="definition.set($event)"
      />
    </div>
  </app-form-sheet>
}
