<app-page-header [title]="'admin.roles.title' | t" [back]="true" [wide]="wide()" (backClick)="back()" />

<div class="roles">
  @if (loaded()) {
    <app-row-group>
      @for (row of rows(); track row.id) {
        <app-list-row
          [title]="row.name"
          [subline]="row.subline"
          [clickable]="true"
          [chevron]="true"
          (chosen)="open(row.id)"
        />
      }
    </app-row-group>
  } @else {
    <app-row-group-skeleton [count]="4" [lines]="2" trail="chevron" />
  }
</div>

<app-floating-button class="roles__fab" icon="plus" [label]="'admin.role.create' | t" (pressed)="create()" />
