<button
  #button
  class="row tap"
  type="button"
  appRipple
  data-press="tint"
  [class.row--active]="active()"
  [attr.aria-current]="active() ? 'true' : null"
  (click)="chosen.emit()"
>
  <app-private-image
    class="row__thumb"
    [path]="species().image ?? ''"
    [alt]="species().name"
    [colour]="species().colour ?? '#7a5230'"
  />
  <span class="row__names">
    <span class="row__name">{{ species().name }}</span>
    <span class="row__latin">{{ species().latin }}</span>
  </span>
  @if (!muted()) {
    <app-level-pill
      class="row__badge"
      [text]="species().levelText"
      [colour]="species().levelColour"
      [background]="species().levelBackground"
      [kind]="species().levelKind ?? ''"
    />
  }
  <span class="row__trail"><ng-content select="[trail]" /></span>
  <app-svg-icon class="row__chevron" name="chevron" [size]="24" tone="dim" />
</button>
