<button
  #button
  class="row tap"
  type="button"
  data-press="tint"
  [class.row--active]="active()"
  [attr.aria-current]="active() ? 'true' : null"
  (click)="chosen.emit()"
>
  <span class="row__names">
    <span class="row__name">{{ species().name }}</span>
    <span class="row__latin">{{ species().latin }}</span>
  </span>
  @if (!muted()) {
    <span class="row__marks">
      <app-level-pill
        [text]="species().levelText"
        [colour]="species().levelColour"
        [background]="species().levelBackground"
      />
    </span>
  }
  <span class="row__trail"><ng-content select="[trail]" /></span>
  @if (species().image; as source) {
    <app-private-image class="row__image" [path]="source" [alt]="species().name" />
  } @else {
    <span class="row__image" aria-hidden="true"></span>
  }
</button>
