<button
  #button
  class="row tap"
  type="button"
  data-press="tint"
  [class.row--active]="active()"
  [attr.aria-current]="active() ? 'true' : null"
  (click)="chosen.emit()"
>
  <span class="row__names">
    <span class="row__name">{{ species().name }}</span>
    <span class="row__latin">{{ species().latin }}</span>
  </span>
  <app-level-pill class="row__level" [text]="species().levelText" [colour]="species().levelColour" />
  <span class="row__trail"><ng-content select="[trail]" /></span>
  @if (species().image; as source) {
    <img class="row__image" [src]="source" [alt]="species().name" width="44" height="44" />
  } @else {
    <span class="row__image row__image--empty" aria-hidden="true" [style.background]="gradient()">
      @for (patch of patches(); track patch.left) {
        <i
          class="row__patch"
          [style.background]="patch.background"
          [style.left]="patch.left"
          [style.top]="patch.top"
          [style.width]="patch.width"
          [style.height]="patch.height"
        ></i>
      }
    </span>
  }
</button>
