<div class="combination__factors" appScrollFade role="group" [attr.aria-label]="'map.tab.combination' | t">
  @for (row of rows(); track row.factor.source) {
    <app-factor-row
      [factor]="{ name: row.name, range: row.subline, condition: row.condition }"
      [icon]="row.icon ?? undefined"
      [removeLabel]="'map.factor.remove' | t"
      (conditionClick)="openFactor.emit(row.factor.source)"
      (remove)="removed.emit(row.factor)"
    />
  }
  <app-add-row [label]="'map.factor.one' | t" [action]="'map.factor.add' | t" (pressed)="add.emit()" />
</div>

<app-action-bar class="combination__footer" [primary]="'common.save' | t" (primaryClick)="requestSave()" />
