<app-floating-button
  class="map__layers"
  icon="layers"
  [label]="'map.layers.button' | t"
  [iconOnly]="true"
  (pressed)="layersToggled.emit()"
/>
@if (showsLocation()) {
  <app-floating-button
    class="map__location"
    icon="location"
    [label]="'map.location' | t"
    [iconOnly]="true"
    [disabled]="!locationAllowed()"
    (pressed)="located.emit()"
  />
}
@if (showAdd()) {
  <app-floating-button class="map__add" icon="plus" [label]="'entry.create' | t" (pressed)="add.emit()" />
}
@if (turned()) {
  <app-floating-button
    class="map__compass"
    icon="compass"
    [label]="'map.compass' | t"
    [iconOnly]="true"
    [rotation]="needle()"
    (pressed)="northed.emit()"
  />
}
