@use '../../../styles/tile';

:host {
  display: inline-flex;
}

.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  margin: 0;
  inline-size: var(--size-tile);
}

.tile__image {
  display: block;
  inline-size: var(--size-tile);
  block-size: var(--size-tile);
}

.tile__badge {
  @include tile.lead-badge;
}

.tile__credit {
  margin: 0;
}
