<div class="qskel">
  <app-skeleton kind="block" radius="0" [height]="mediaHeight()" />
  <div class="qskel__body">
    <app-skeleton kind="line" width="55%" height="20px" />
    <app-skeleton kind="line" width="70%" />
    <app-skeleton kind="line" width="40%" />
  </div>
</div>
<div class="qskel__actions">
  <app-skeleton kind="block" width="48px" height="48px" radius="50%" />
  <app-skeleton kind="block" width="64px" height="64px" radius="50%" />
  <app-skeleton kind="block" width="72px" height="72px" radius="50%" />
</div>
