<div class="form__body" [class.form__body--roomy]="!marker()">
  <app-form-field
    [label]="'common.name' | t"
    [placeholder]="'entry.field.namePlaceholder' | t"
    [value]="name()"
    (valueChange)="setName($event)"
  />
  <div>
    <p class="form__label">{{ 'common.colour' | t }}</p>
    <app-colour-swatches
      [colours]="swatches()"
      [value]="colourHex()"
      [label]="'common.colour' | t"
      (valueChange)="setColour($event)"
    />
  </div>
  @if (marker()) {
    <ng-container [ngTemplateOutlet]="note" />
    <ng-container [ngTemplateOutlet]="visibility" />
  } @else {
    <ng-container [ngTemplateOutlet]="visibility" />
    <ng-container [ngTemplateOutlet]="note" />
  }
  <ng-content />
</div>
<app-action-bar
  [class.form__actions]="editing()"
  [primary]="'common.save' | t"
  [busy]="busy()"
  (primaryClick)="submit()"
/>

<ng-template #note>
  <app-form-field
    [label]="'entry.field.note' | t"
    [multiline]="true"
    [placeholder]="'common.optional' | t"
    [value]="noteText()"
    (valueChange)="setNote($event)"
  />
</ng-template>

<ng-template #visibility>
  <app-visibility-choice
    [visibility]="visibilityValue()"
    [groupId]="groupValue()"
    (visibilityChange)="setVisibility($event)"
    (groupChange)="setGroup($event)"
  />
</ng-template>
