<div [class.choice__inline]="inline()">
  <p class="choice__label" [class.choice__label--inline]="inline()">
    {{ 'entry.field.visibility' | t }}
  </p>
  <app-segmented
    [class.choice__segment]="inline()"
    [options]="segments()"
    [value]="visibility()"
    [label]="'entry.field.visibility' | t"
    (valueChange)="chooseVisibility($event)"
  />
</div>

@if (visibility() === 'shared') {
  <div>
    <p class="choice__label">{{ 'entry.field.group' | t }}</p>
    <app-form-field
      [label]="'entry.field.group' | t"
      [hideLabel]="true"
      [value]="groupName()"
      [placeholder]="'group.title' | t"
      [readOnly]="true"
      [chevron]="true"
      (displayClick)="picking.set(true)"
    />
  </div>
}

<app-option-sheet
  [open]="picking()"
  [title]="'entry.field.group' | t"
  [options]="groupOptions()"
  [selected]="groupId()"
  [detents]="DETENTS"
  [detent]="1"
  (chosen)="chooseGroup($event)"
  (closed)="picking.set(false)"
/>
