:host {
  display: block;
}

.bar {
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  align-items: center;
  block-size: var(--size-header);
  padding: 0 8px 0 16px;
}

.bar--lead {
  padding-inline-start: 8px;
}

.bar--wide {
  padding-inline-start: 32px;
}

.bar__title {
  flex: 1;
  min-inline-size: 0;
  margin: 0;
  overflow: hidden;
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bar--lead .bar__title {
  padding-inline-start: 4px;
}

.bar__count {
  --pilz-level-height: 28px;
  --pilz-level-inline: 12px;
  --pilz-level-radius: 14px;
  --pilz-level-font: 13px;

  display: flex;
  flex: 0 0 auto;
  align-items: center;
  margin-inline-end: 16px;
}
