<header class="pageheader">
  @if (back()) {
    <button
      class="pageheader__back tap"
      type="button"
      data-press="scale"
      [attr.aria-label]="'common.back' | t"
      (click)="backClick.emit()"
    >
      <app-svg-icon name="back" [size]="20" />
    </button>
  }
  <h1 class="pageheader__title">{{ title() }}</h1>
  <div class="pageheader__marks"><ng-content select="[marks]" /></div>
  <div class="pageheader__actions"><ng-content /></div>
  @if (close()) {
    <button
      class="pageheader__close tap"
      type="button"
      data-press="scale"
      [attr.aria-label]="'common.close' | t"
      (click)="closeClick.emit()"
    >
      <app-svg-icon name="close" [size]="22" [strokeWidth]="2.2" />
    </button>
  }
</header>
