<header class="bar" [class.bar--lead]="lead()" [class.bar--wide]="!lead() && wide()">
  @if (back()) {
    <app-icon-button icon="back" kind="plain" [label]="'common.back' | t" (pressed)="backClick.emit()" />
  } @else if (close()) {
    <app-icon-button icon="close" kind="plain" [label]="'common.close' | t" (pressed)="closeClick.emit()" />
  }
  @if (title()) {
    <h1 class="bar__title">{{ title() }}</h1>
  } @else {
    <ng-content select="[headline]" />
  }
  @if (count()) {
    <span class="bar__count"><app-level-pill [text]="count()" /></span>
  }
  <ng-content />
</header>
