<div class="size__block">
  <p class="size__title">{{ 'filter.size.capWidth' | t }}</p>
  <div class="size__card">
    <p class="size__value">
      {{ span()[0] }} &#8211; {{ span()[1] }} <span class="size__unit">{{ 'enum.unit.cm' | t }}</span>
    </p>
    <app-range-slider
      class="size__slider"
      [min]="0"
      [max]="max()"
      [from]="span()[0]"
      [to]="span()[1]"
      (fromChange)="setFrom($event)"
      (toChange)="setTo($event)"
    />
    <p class="size__scale">
      <span>0</span>
      <span>{{ middle() }}</span>
      <span>{{ max() }} {{ 'enum.unit.cm' | t }}</span>
    </p>
  </div>
</div>
<div class="size__block">
  <p class="size__title">{{ 'species.growthPeriod' | t }}</p>
  <div class="size__card size__card--band">
    <app-year-band-input
      class="size__band"
      [from]="months()[0]"
      [to]="months()[1]"
      [label]="'species.growthPeriod' | t"
      (fromChange)="setMonthFrom($event)"
      (toChange)="setMonthTo($event)"
    />
    <p class="size__period">{{ periodText() }}</p>
  </div>
</div>
