<app-page-header [title]="'filter.titel' | t" [back]="true" (backClick)="back()">
  @if (any()) {
    <button class="filter__reset" type="button" (click)="reset()">
      {{ 'filter.zuruecksetzen' | t }}
    </button>
  }
</app-page-header>
<div class="filter">
  @if (cards().length === 0) {
    <p class="note">{{ 'filter.leer' | t }}</p>
  } @else {
    @for (card of cards(); track card.key) {
      <app-card class="flush">
        @for (group of card.groups; track group.key) {
          <button class="group" type="button" (click)="open(group)">
            <span class="group__text">
              <span class="group__name">{{ group.name }}</span>
              @if (group.coverage) {
                <span class="group__coverage">{{ group.coverage }}</span>
              }
            </span>
            @if (group.chosen) {
              <span class="group__chosen">{{ group.chosen }}</span>
            }
            <app-svg-icon class="group__arrow" name="right" [size]="12" />
          </button>
        }
      </app-card>
    }
  }
</div>
<app-action-bar [primary]="hits()" (primaryClick)="back()" />
