<div class="head">
  <div class="head__row">
    @if (back()) {
      <button
        class="head__back tap"
        type="button"
        data-press="scale"
        [attr.aria-label]="'common.back' | t"
        (click)="backClick.emit()"
      >
        <app-svg-icon name="back" [size]="20" />
      </button>
    }
    @if (icon(); as glyph) {
      <app-svg-icon class="head__icon" [name]="glyph" [size]="22" [strokeWidth]="1.8" />
    }
    @if (loading()) {
      <app-skeleton kind="line" width="140px" height="18px" />
    } @else {
      <p class="head__title">
        <button
          class="head__species tap"
          type="button"
          data-press="scale"
          [class.head__species--link]="titleLink()"
          (click)="titleClick.emit()"
        >
          {{ title() }}
        </button>
        @if (week()) {
          <span class="head__divider" aria-hidden="true">·</span>
          <span class="head__week">{{ week() }}</span>
        }
        @if (note()) {
          <span class="head__divider" aria-hidden="true">·</span>
          <span class="head__note">{{ note() }}</span>
        }
        @if (hint()) {
          <span class="head__hint">{{ hint() }}</span>
        }
      </p>
    }
  </div>
  <div class="head__bar"><ng-content /></div>
</div>
