@if (open()) {
  <button
    class="overlay__scrim tap"
    [class.overlay__scrim--modal]="modal()"
    type="button"
    data-press="tint"
    [attr.aria-label]="'common.close' | t"
    (click)="closed.emit()"
  ></button>
  <div
    class="overlay__panel"
    [class.overlay__panel--compact]="compact()"
    tabindex="-1"
    (keydown)="onKeydown($event)"
  >
    @if (wide() && title() !== '') {
      <div class="overlay__head">
        <h2 class="overlay__title">{{ title() }}</h2>
        <button
          class="overlay__close tap"
          type="button"
          data-press="scale"
          [attr.aria-label]="'common.close' | t"
          (click)="closed.emit()"
        >
          <app-svg-icon name="close" [size]="16" />
        </button>
      </div>
    }
    <ng-content />
  </div>
}
