@if (open()) {
  <button
    class="overlay__scrim tap"
    [class.overlay__scrim--modal]="modal()"
    [class.overlay__scrim--cover]="cover()"
    [class.overlay__scrim--wide]="wide()"
    type="button"
    data-press="tint"
    [attr.aria-label]="'common.close' | t"
    (click)="closed.emit()"
  ></button>
  <div
    class="overlay__panel"
    [class.overlay__panel--cover]="cover()"
    [class.overlay__panel--wide]="wide()"
    tabindex="-1"
    (keydown)="onKeydown($event)"
  >
    <ng-content />
  </div>
}
