<ng-template #identity>
  @if (user(); as person) {
    <app-account-tile [user]="person.name" [mail]="person.email" [server]="server()" (signOut)="signOut()" />
  } @else if (unknown()) {
    <app-skeleton kind="block" height="80px" radius="var(--r-item)" />
  } @else {
    <app-push-button kind="primary" [wide]="true" (click)="signIn()">{{
      'account.signInWith' | t
    }}</app-push-button>
  }
</ng-template>

@if (wide()) {
  <div class="account account--wide">
    <section class="account__master">
      <app-page-header [title]="'account.title' | t" />
      <div class="pad" appScrollFade>
        <ng-container [ngTemplateOutlet]="identity" />
        <app-row-group>
          @for (row of desktopRows(); track row.key) {
            <app-list-row
              [title]="row.label | t"
              [chevron]="true"
              [clickable]="true"
              [selected]="selected() === row.key"
              (chosen)="open(row.path)"
            />
          }
        </app-row-group>
      </div>
    </section>
    <section class="account__detail account--detail">
      <router-outlet />
    </section>
  </div>
} @else if (home()) {
  <app-page-header [title]="'account.title' | t" [close]="true" (closeClick)="close()" />
  <div class="pad" appScrollFade>
    <ng-container [ngTemplateOutlet]="identity" />
    @if (signedIn()) {
      <app-account-stats />
      <app-row-group>
        @for (row of phoneRows(); track row.key) {
          <app-list-row
            [title]="row.label | t"
            [chevron]="true"
            [clickable]="true"
            (chosen)="open(row.path)"
          />
        }
      </app-row-group>
    }
    <app-appearance-fields />
    <app-offline-section />
    <app-section [label]="'account.section.about' | t">
      <app-about-group />
    </app-section>
  </div>
} @else {
  <router-outlet />
}
