@if (source(); as source) {
  <img
    class="private__image"
    draggable="false"
    [class.private__image--contain]="fit() === 'contain'"
    [class.private__image--natural]="fit() === 'natural'"
    [src]="source"
    [alt]="alt()"
  />
} @else if (!path()) {
  <span
    class="private__fallback"
    [class.private__fallback--dark]="ink() === 'dark'"
    [style.background]="colour()"
  >
    <app-svg-icon [name]="icon()" [size]="24" [strokeWidth]="1.8" />
  </span>
}
@if (locked()) {
  <span class="private__lock" aria-hidden="true">
    <app-svg-icon name="lock" [size]="16" [strokeWidth]="1.8" />
  </span>
}
