<div class="chips" role="group" [attr.aria-label]="label()">
  @for (chip of chips(); track chip.value) {
    <button
      class="chip tap"
      type="button"
      data-press="scale"
      [class.chip--active]="isChosen(chip)"
      [attr.aria-pressed]="isChosen(chip)"
      (click)="toggle(chip)"
    >
      {{ chip.label }}
    </button>
  }
  @if (addable()) {
    <button
      class="chip chip--add tap"
      type="button"
      data-press="scale"
      [attr.aria-label]="'map.factor.add' | t"
      (click)="added.emit()"
    >
      <app-svg-icon name="plus" [size]="14" />
    </button>
  }
</div>
