<button class="item tap" type="button" appRipple [class.item--selected]="selected()" (click)="chosen.emit()">
  <app-private-image
    [colour]="entry().colour ?? '#7a5230'"
    [path]="entry().photo ?? ''"
    [icon]="entry().icon ?? 'mushroom'"
    ink="dark"
    [alt]="entry().title"
  />
  <span class="item__stack">
    <span class="item__title">{{ entry().title }}</span>
    <span class="item__meta">{{ entry().meta }}</span>
    @if (entry().note) {
      <span class="item__note">{{ entry().note }}</span>
    }
  </span>
  @if (pending()) {
    <span class="item__pending" role="img" [attr.aria-label]="'entry.badge.transferPending' | t">
      <app-svg-icon name="upload" [size]="24" [strokeWidth]="1.8" />
    </span>
  } @else {
    <app-svg-icon class="item__chevron" name="chevron" [size]="24" />
  }
</button>
