:host {
  display: inline-flex;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: var(--size-avatar);
  block-size: var(--size-avatar);
  padding: 0;
  border: 0;
  font-size: 15px;
  font-weight: var(--fw-bold);
  color: var(--on-sel);
  background: var(--sel);
  border-radius: 50%;
  overflow: hidden;
}

.avatar__pending {
  inline-size: 100%;
  block-size: 100%;
}
