@if (target(); as point) {
  <button
    class="objectmenu__scrim"
    type="button"
    [attr.aria-label]="'common.close' | t"
    (click)="closed.emit()"
  ></button>
  <div
    class="objectmenu"
    role="menu"
    tabindex="-1"
    animate.enter="objectmenu--in"
    animate.leave="objectmenu--out"
    [style.left.px]="point.x"
    [style.top.px]="point.y"
    (keydown)="onKeydown($event)"
  >
    <button class="objectmenu__item" type="button" role="menuitem" appRipple (click)="edit.emit()">
      <span class="objectmenu__icon"><app-svg-icon name="edit" [size]="24" /></span>
      <span>{{ 'common.edit' | t }}</span>
    </button>
    <button class="objectmenu__item" type="button" role="menuitem" appRipple (click)="centre.emit()">
      <span class="objectmenu__icon"><app-svg-icon name="location" [size]="24" /></span>
      <span>{{ 'map.centre' | t }}</span>
    </button>
    <button
      class="objectmenu__item objectmenu__item--danger"
      type="button"
      role="menuitem"
      appRipple
      (click)="delete.emit()"
    >
      <span class="objectmenu__icon"><app-svg-icon name="trash" [size]="24" /></span>
      <span>{{ 'common.delete' | t }}</span>
    </button>
  </div>
}
